<h3 class="m-0"><strong>Filter</strong></h3>
<div class="row mx-0 light-purple-background radius">
    <div class="col-12">
        <p-chip *ngFor="let filterOperator of customQueryParams.filterOperationsList; let index = index;" class="pr-2" [label]="filterOperator.filterLabel" [removable]="true" 
            (onRemove)="removeFilterOperation(index)" (click)="updateChip(filterOperator, index)">
        </p-chip>
        <button pButton pRipple type="button" label="Add filters to narrow your answer" icon="pi pi-plus"
            class="add-filter-button" (click)="showFilterDialog()"></button>
    </div>
</div>

<app-filter-modal *ngIf="display" [display]="display" [filterData]="selectedFilterOperation" [tableFilterData]="tableFilterData"
    [completeTablePath]="customQueryParams.completeTablePath" [filterOperationOptionsDropdown]="filterOperationOptionsDropdown" [action]="action"
    (onAddFilterQuery)="addFilter($event)" (onChangeFilterQuery)="updateFilter($event)" (onClodeModal)="closeModal()">
</app-filter-modal>