/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
    cursor: pointer;
}

.center-align {
    text-align: center;
}

.cdk-overlay-container .cdk-overlay-pane {
    display: inline-block;
}


.join-icons {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
}

.join-left-icon {
    background-image: url("assets/join-left.png");
}

.join-right-icon {
    background-image: url("assets/join-right.png");
}

.join-inner-icon {
    background-image: url("assets/inner-join.png");
}

.label-alignment {
    padding-bottom: 13px;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.p-toast {
    opacity: unset !important;
}