<p-chip class="pr-2" [label]="selectedTable"></p-chip>
<p-chip [icon]="selectedJoinValue.icon" class="vertical-align-middle"></p-chip>
<app-overlay-panel-table class="d-inline-block" [databasesOptions]="databaseOptions"
    (onSelectTable)="getSelectedTable($event)"></app-overlay-panel-table>
<div *ngIf="selectedTableJoin" class="d-inline-block">
    <p-chip label="ON"></p-chip>
    <app-select-matching-columns class="d-inline-block" [columnOptions]="columnsOptions"
        [joinColumnOptions]="columnsJoinOptions" [selectedTable]="selectedTable" [selectedTableJoin]="selectedTableJoin"
        (onChangeColumns)="getSelectedColumns($event)">
    </app-select-matching-columns>
</div>