<div class="p-5">
    <div class="row">
        <div class="col-6">
            <app-card imagePath="assets/custom_query.png" title="Query Wizard"
                details="Use the query wizard to join data, make simple operations that involve filtering columns and perform privacy check."
                (onClick)="createCustomQuestion()">
            </app-card>
        </div>
        <div class="col-6">
            <app-card imagePath="assets/native_query.png" title="SQL"
                details="Write your own SQL query and perform privacy check."
                (onClick)="createNativeQuery()">
            </app-card>
        </div>
    </div>
</div>
