<div class="p-5">
    <div class="row">
        <div class="col-6">
            <app-card 
                imagePath="assets/custom_query.png"
                title="Custom question"
                details="Use the advanced notebook editor to join data, create custom columns, do math, and more."
                (onClick)="createCustomQuestion()">
            </app-card>
        </div>
        <div class="col-6">
            <app-card 
                imagePath="assets/native_query.png"
                title="Native query"
                details="For more complicated questions, you can write your own SQL or native query."
                (onClick)="createNativeQuery()">
            </app-card>
        </div>
    </div>
</div>