<div class="row px-5">
    <div class="col-12">
        <div class="row p-fluid">
            <div class="col-4 field">
                <label for="integeronly"><strong>Please choose the K attribute of the K-Anonymity algorithm</strong></label>
                <p-inputNumber inputId="integeronly" [(ngModel)]="privacyAttributes.kAnonymityParam"></p-inputNumber>
            </div>
            <div class="col-4 field">
                <label for="integeronly"><strong>Please choose the L attribute of the L-Diversity algorithm</strong></label>
                <p-inputNumber inputId="integeronly" [(ngModel)]="privacyAttributes.lDiversityParam"></p-inputNumber>
            </div>
        </div>
        <button class="privacy-check-button" pButton label="Privacy check"
            (click)="getPrivacyCheck()">
        </button>
    </div>
</div>