<p-table [value]="data.dbRecordList" styleClass="background-color pt-4">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of data.columnNames">
                {{col}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
        <tr *ngFor="let row of data.dbRecordList; let index = index">
            <td *ngFor="let columnData of row.dbRecordJsonList; let columnIndex = index">
                {{columnData.recordValue}}
            </td>
        </tr>
    </ng-template>
</p-table>
