<div class="row mx-0 light-blue-background radius">
    <div class="col-12">
        <p-chip class="pr-2" [label]="selectedTable"></p-chip>
        <span class="pr-2">Join</span>
        <button *ngIf="!finalTable" pButton pRipple type="button" label="Pick a table" class="p-button-rounded join-table-button"
            (click)="pickTable()"></button>
        <p-chip *ngIf="finalTable" class="pr-2" [label]="finalTable" [removable]="true" (onRemove)="removeFinalTable()"></p-chip>
        <span *ngIf="finalTable" class="pr-2">Where</span>
        <button *ngIf="finalTable && !(selectedColumn || selectedColumnJoin)" pButton pRipple type="button" label="Match columns" class="p-button-rounded join-table-button"
            (click)="matchColumns()"></button>
        <p-chip *ngIf="selectedColumn && selectedColumnJoin" class="pr-2" [label]="selectedColumn + ' = ' + selectedColumnJoin" [removable]="true" (onRemove)="removeFinalTable()"></p-chip>
    </div>
</div>

<p-dialog header="Select table" [(visible)]="showTableSelectorModal" [modal]="true"  [style]="{width: '50vw'}" (onHide)="closeModal()">
    <div class="row">
        <div class="col-4">
            <p-dropdown [options]="databaseOptions" [(ngModel)]="selectedDatabaseJoin"
                placeholder="Select a database" appendTo="body" (onChange)="databaseValueChange($event)"></p-dropdown>
        </div>

        <div class="col-4" *ngIf="selectedDatabaseJoin">
            <p-dropdown [options]="schemaOptions" [(ngModel)]="selectedSchemaJoin" placeholder="Select a schema"
                appendTo="body" (onChange)="schemaValueChange($event)"></p-dropdown>
        </div>

        <div class="col-4" *ngIf="selectedSchemaJoin">
            <p-dropdown [options]="tableOptions" [(ngModel)]="selectedTableJoin" placeholder="Select a table"
                appendTo="body"></p-dropdown>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="saveSelectedJoinTable()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Match columns" [(visible)]="showColumnsModal" [modal]="true"  [style]="{width: '50vw'}" (onHide)="closeColumnsModal()">
    <div class="row">
        <div class="col-12">
            <label>Selected table: </label><span>{{ selectedTable }}</span>
        </div>
        <div class="row">
            <div class="col-12">
                <p-dropdown [options]="columnsOptions" [(ngModel)]="selectedColumn"
                    placeholder="Select a column" appendTo="body" (onChange)="databaseValueChange($event)">
                </p-dropdown>
            </div>
        </div>

        <div class="col-12">
            <label>Selected table: </label><span>{{ finalTable }}</span>
        </div>
        <div class="row">
            <div class="col-12">
                <p-dropdown [options]="columnsJoinOptions" [(ngModel)]="selectedColumnJoin" placeholder="Select a column"
                    appendTo="body" (onChange)="schemaValueChange($event)"></p-dropdown>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="saveSelectedColumns()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>