<div class="p-5">
    <app-overlay-panel-table [databasesOptions]="databasesOptions" (onSelectTable)="getSelectedTable($event)">
    </app-overlay-panel-table>
    <div *ngIf="selectedTable">
        <div class="pt-3">
            <p-selectButton [options]="joinDataOption" [(ngModel)]="joinDataValue" optionLabel="icon"
                optionValue="value">
                <ng-template let-item>
                    <i [class]="item.icon"></i>
                </ng-template>
            </p-selectButton>
            <div *ngIf="joinDataValue.joinValue" class="pt-3">
                <div class="d-flex p-2 light-blue-background radius">
                    <app-join-data [selectedTable]="selectedTable" [databaseOptions]="databasesOptions"
                        [selectedJoinValue]="joinDataValue" (onChangeJoinQuery)="getJoinQuery($event)">
                    </app-join-data>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-sm p-button-text vertical-align-middle remove-join-button mt-2"
                        (click)="removeJoinPanel()">
                    </button>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <app-filter [selectedTable]="selectedTable" (onChangeFilterQuery)="getFilterQuery($event)"></app-filter>
        </div>
        <div class="pt-3">
            <button pButton pRipple type="button" class="p-button-secondary" label="Execute" [loading]="loading"
                (click)="execute()"></button>
        </div>
        <app-tabs-content *ngIf="results" [data]="results"></app-tabs-content>
    </div>
</div>