<h3 class="m-0"><strong>Filter</strong></h3>
<div class="row mx-0 light-purple-background radius">
    <div class="col-12">
        <p-chip *ngFor="let filterOperator of filterOperationsList; let index = index" class="pr-2"
            [label]="filterOperator.filterLabel" [removable]="true" (onRemove)="removeFilterOperation(index)"
            (click)="onClickChip(filterOperator)"></p-chip>
        <button pButton pRipple type="button" icon="pi pi-plus" class="add-filter-button"
            (click)="showFilterDialog()"></button>
    </div>
    <div *ngIf="showFilterAdd">

    </div>
</div>

<p-dialog header="Please choose the column, the value and filter to apply" [(visible)]="display" [modal]="true"
    width="350">
    <div class="col-6">
        <p-dropdown [options]="availableTableColumnOptionsDropdown" [(ngModel)]="selectedColumn"
            placeholder="Select a Table Column" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="col-6">
        <p-dropdown [options]="filterOperationOptionsDropdown" [(ngModel)]="selectedFilter" placeholder="Select Filter"
            appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="col-4">
        <input type="text" pInputText [(ngModel)]="inputColumnValue" />
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="addFilter()" label="Add"></button>
        </div>
    </p-footer>
</p-dialog>