:host::ng-deep .light-grey-background  {
    background: #eeeeee;
}

.example-list {
    max-height: 320px;
    overflow-y: auto;
    min-width: 142px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin: 0;
}

::ng-deep {
    .example-list li {
        list-style-type: none;
        padding: 8px 4px;
        cursor: pointer;
    }

    .example-list li:last-child {
        border-bottom: none;
    }
}