:host ::ng-deep {
    .p-panel .p-panel-content {
        padding: unset;
    }

    .p-multiselect {
        min-width: 25rem;
        width: 18rem;
    }

    .privacy-check-button {
        left: 92%;
        margin-top: 20px;
    }
}
