<div class="d-block">
    <button pButton pRipple type="button" [icon]="isDataColumnCollapsed ? 'pi pi-angle-up' : 'pi pi-angle-down'"
        class="p-button-rounded p-button-text" (click)="collapseColumns()"></button>
    <label class="label-alignment mr-1"><strong>{{tableValue}}</strong></label>
</div>
<span *ngIf="isDataColumnCollapsed">
    <li *ngFor="let column of columnOptions; let index = index;" [ngClass]="{'selected-column': isSelectedColumn && selectedIndex === index }" (click)="setSelectedColumn(index, column)">
        <i class="pi pi-circle circle-icon"></i>{{column.value}}
    </li>
</span>