:host::ng-deep .p-menubar {
    padding: unset;
    background: #3c4145;
    .p-menubar-button {
        display: none;
    }

    
}

:host::ng-deep {
    .p-tabmenu-nav,
    .p-inputtext,
    .background-color{
        background-color: #191c1f;
    }

    .mat-tab-body {
        min-height: 500px;
    }
}