:host::ng-deep {
    .p-menubar {
        padding: unset;
        background: #eeeeee;
        .p-menubar-button {
            display: none;
        }
    }

    .mat-tab-body {
        min-height: 500px;
    }
}