:host::ng-deep .p-menubar {
    padding: unset;
    background: #3c4145;
    .p-menubar-button {
        display: none;
    }

    
}

:host::ng-deep {

    .mat-tab-body {
        min-height: 500px;
    }
}