.example-list {
    min-width: 142px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin: 0;
}

.example-list li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
    cursor: pointer;
}

.example-list li:last-child {
    border-bottom: none;
}

