<div class="row mx-0 light-blue-background radius">
    <div class="col-12">
        <ng-container *ngIf="!selectedColumns else hasMatchingColumns">
            <button pButton pRipple (click)="isOpen = !isOpen" type="button" class="p-button-secondary"
                label="Select columns" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
            </button>
            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
                <ul class="example-list">
                    <app-select-column [columnOptions]="columnOptions" [label]="selectedTable"></app-select-column>
                    <app-select-column [columnOptions]="joinColumnOptions" [label]="selectedTableJoin"></app-select-column>
                </ul>
            </ng-template>
        </ng-container>
        <ng-template #hasMatchingColumns>
            <p-chip class="pr-2" [label]="selectedColumns" [removable]="true" (onRemove)="removeSelectedColumns()"></p-chip>
        </ng-template>
    </div>
</div>